p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

img {
  display: block;
  width: 270px;
  height: 150px;
  object-fit: cover;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 1200px;
}

/* Search Field */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 15px;
  background-color: #1565c0;
  position: sticky;
  top: 0;
  z-index: 999;
}

.search-form-input {
  font-size: 16px;
  font-weight: 500;
  font-size: 20px;
  border: none;
  outline: none;
  padding: 5px 18px;
  width: 100%;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}



.search-form button[type='submit']{
  position: absolute;
  right: 0;
  background-color: transparent;
  border-color: transparent;
  height: 100%;
  font-size: 22px;
}

.search-form button[type='submit']:hover,
.search-form button[type='submit']:focus {
  background-color: rgba(0, 0, 0, 0.12);
}


/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox {
  color: black;
  text-decoration: none;
}

.photo-card {
  background-color: rgba(254, 254, 150, 0.3);
  margin-top: 30px;
  margin-left: 30px;
  position: relative;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.photo-card:hover img::after {
  content: 'click to view';
  color: red;
  position: absolute;
  top: 10px;
  left: 50%;
  width: 100%;
  background-color: rgba(254, 254, 254, 0.3);
}

.info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.info-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 12px;
  row-gap: 8px;
}

.info-number {
  margin-top: 5px;
  font-weight: 400;
  font-size: 11px;
}

.text {
  text-align: center;
  text-transform: capitalize;
  display: block;
  width: 100%;
  padding-top: 10px;
}

.icon-size {
  font-size: 25px;
}
.sl-close{
  border-radius: 50%;
}

.sl-wrapper {
  background-color: rgba(0, 0, 0, 0.24);
}

.sl-wrapper .sl-image img {
  box-shadow: 1px 1px 5px 2px #0008;
}

.sl-close:hover {
  border: 1px solid #1565c0;
  background-color: azure;
  color: red;
  transition: all 250ms cubic-bezier(0.075, 0.82, 0.8, 1);
}
.sl-wrapper .sl-navigation button {
  height: 100vh;
  margin-top: 0;
  top:0;
  z-index: 0;
  width: 50%;
}

.sl-wrapper .sl-navigation button.sl-prev {
  text-align: left;
  padding-left: 5px;
}

.sl-wrapper .sl-navigation button.sl-next {
  text-align: right;
  padding-right: 5px;
}

.sl-wrapper .sl-navigation button.sl-prev:hover, 
.sl-wrapper .sl-navigation button.sl-next:hover {
  color: red;
}

.sl-wrapper .sl-navigation button.sl-prev:hover {
  background-image: linear-gradient(to right, rgba(254, 254, 250, 0.3), transparent);
}

.sl-wrapper .sl-navigation button.sl-next:hover {
  background-image: linear-gradient(to left, rgba(254, 254, 250, 0.3), transparent);
}

.search-form {
  position: relative;
  display: inline-flex;
  width: 100%;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


@media screen and (min-width:768px) {
  .search-form{
    width: 280px;
  }
}

/* loader Style */

.loader {
  position: relative;
  left: 50%;
  top: 30px;
  transform: translate(-50%,-50%);
  width: 48px;
  height: 48px;
  border: 5px solid #FF9;
  border-bottom-color: #FF3D00;
  box-shadow: 0 0 1px 1px black;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 